<!-- layout/footer.html -->
<footer th:fragment="footer">
  <div class="footer">
    <div>
      <h3>ClipRush</h3>
      <p>ClipRush는 AI 웹사이트들을 통합하여<br/>
        숏폼 비디오를 한번의 클릭으로 자동으로 만들고<br/>
        원하는 플랫폼에 업로드하는 기능을 갖춘 웹사이트입니다.
      </p>
    </div>
    <div>
      <h3>Contact</h3>
      <p>010-1234-1234<br/>namh010101@gmail.com</p>
    </div>
    <div>
      <h3>Social</h3>
      <a href="https://github.com" target="_blank">
        <img src="/img/githubicon.png"/>
      </a>
    </div>
  </div>
</footer>
