<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClipRush</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<!-- Header -->
<div th:replace="~{layout/header :: header}"></div>

<!-- Main -->
<main class="main-content">
    여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용여기에 본문 내용
</main>

<!-- Footer -->
<div th:replace="~{layout/footer :: footer}"></div>

</body>
</html>
